@model SisParkTD.Models.Ticket

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Abono.AbonoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abono.AbonoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parcela.ParcelaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parcela.ParcelaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo.Patente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehiculo.Patente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoDeTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDeTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaYHoraDeEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaYHoraDeEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaYHoraDeSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaYHoraDeSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiempoTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiempoTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioTotalDecimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioTotalDecimal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
