@model IEnumerable<SisParkTD.Models.Tickets>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HorarioDeLlegada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorarioDeSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiempoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadosDeTicket.NombreEstadoDeTicket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parcelas.IDParcela)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculos.Patente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HorarioDeLlegada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorarioDeSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiempoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadosDeTicket.NombreEstadoDeTicket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parcelas.IDParcela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculos.Patente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDTicket }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDTicket }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDTicket })
        </td>
    </tr>
}

</table>
