@model IEnumerable<SisParkTD.Models.Ticket>

@{
    ViewBag.Title = "Tickets";
}

<h2>Tickets</h2>

<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeTicket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parcela.ParcelaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.Patente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoDeTicket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pagado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiempoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioTotalDecimal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeTicket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parcela.ParcelaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculo.Patente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoDeTicket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pagado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiempoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioTotalDecimal)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new {id = item.TicketId})
        </td>
    </tr>
}

</table>
