@model IEnumerable<SisParkTD.Models.Ticket>

@{
    ViewBag.Title = "Tickets";
}

<h2>Tickets</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Abono.AbonoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parcela.ParcelaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.Patente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoDeTicket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pagado)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FechaYHoraDeEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaYHoraDeSalida)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TiempoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioTotalDecimal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Abono.AbonoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parcela.ParcelaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculo.Patente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoDeTicket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pagado)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.FechaYHoraDeEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaYHoraDeSalida)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TiempoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioTotalDecimal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketId })
        </td>
    </tr>
}

</table>
