@model IEnumerable<SisParkTD.Models.Ticket>

@{
    ViewBag.Title = "RetirarVehiculo";
}

<h2>RetirarVehiculo</h2>

<table class="table table-hover">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Parcela.NumeroParcela)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.Patente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.TipoDeVehiculo.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.DescripcionDeVehiculo)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Parcela.NumeroParcela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculo.Patente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculo.TipoDeVehiculo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculo.DescripcionDeVehiculo)
        </td>

            @foreach (var movimientos in item.MovimientosDeVehiculo)
            {
                <td>
                    @Html.DisplayFor(modelItem => movimientos.Fecha)
                </td>
                <td>
                    @DateTime.Now.Subtract(movimientos.Fecha).Hours
                </td>
            }
        
        <td>
            @Html.ActionLink("Retirar", "ConfirmarEgreso", "Tickets", new {ticketId = item.TicketId}, new {@class = "btn btn-success"}) |
            @Html.ActionLink("-1H", "About", "Home", new {id = item.TicketId, h = 1}, new {@class = "btn btn-danger"}) |
            @Html.ActionLink("-3H", "About", "Home", new {id = item.TicketId, h = 3}, new {@class = "btn btn-danger"}) |
            @Html.ActionLink("-5H", "About", "Home", new {id = item.TicketId, h = 5}, new {@class = "btn btn-danger"})

        </td>
    </tr>
}

</table>
