@model IEnumerable<SisParkTD.Models.Tickets>

@{
    ViewBag.Title = "RetirarVehiculo";
}

<h2>RetirarVehiculo</h2>

<table class="table table-hover">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Parcelas.NumeroParcela)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculos.Patente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculos.TiposDeVehiculo.NombreTipoDeVehiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculos.DescripcionDeVehiculo)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Parcelas.NumeroParcela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculos.Patente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculos.TiposDeVehiculo.NombreTipoDeVehiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculos.DescripcionDeVehiculo)
        </td>

        <td>
            @Html.ActionLink("Retirar","LiberarParcela","Parcelas", new { idTicket = item.IDTicket }, new { @class = "btn btn-success" })
        </td>
    </tr>
}

</table>
