@model SisParkTD.Models.TiposDeVehiculo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TiposDeVehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreTipoDeVehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreTipoDeVehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarifa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarifa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamaños.NombreTamaño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamaños.NombreTamaño)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTipoDeVehiculo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
