@model IEnumerable<SisParkTD.Models.TipoDeVehiculo>

@{
    ViewBag.Title = "Tipos de Vehículo";
}

<h2>Tipos de Vehículo</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TamanioVehiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TarifaOcasionalDecimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TarifaMensualDecimal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TamanioVehiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TarifaOcasionalDecimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TarifaMensualDecimal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoDeVehiculoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoDeVehiculoId })
        </td>
    </tr>
}

</table>
