@model IEnumerable<SisParkTD.Models.Cuenta>

@{
    ViewBag.Title = "Cuentas";
}

<h2>Cuentas</h2>

<p>
    @Html.ActionLink("Generar Facturación", "GenerarFacturacion",null,new {@class="btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaldoDecimal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaldoDecimal)
        </td>
        <td>
            @Html.ActionLink("Ver Movimientos", "VerMovimientos", new { id=item.CuentaId })
        </td>
    </tr>
}

</table>
