@model IEnumerable<SisParkTD.Models.Vehiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeVehiculo.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionDeVehiculo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeVehiculo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionDeVehiculo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehiculoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehiculoId })
        </td>
    </tr>
}

</table>
