@model IEnumerable<SisParkTD.Models.Vehiculo>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Vehículos";
    var pagedList = (IPagedList)Model;
}

<h2>Vehículos</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table table-responsive table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeVehiculo.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionDeVehiculo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeVehiculo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionDeVehiculo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {id = item.VehiculoId})
        </td>
    </tr>
}

</table>
Página @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) de @pagedList.PageCount

@Html.PagedListPager(pagedList, page => Url.Action("Index", new { page }))