@model SisParkTD.Models.EstadosDeTicket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EstadosDeTicket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreEstadoDeTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEstadoDeTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionEstadoDeTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionEstadoDeTicket)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDEstadoDeTicket }) |
    @Html.ActionLink("Back to List", "Index")
</p>
