@model IEnumerable<SisParkTD.Models.AuditoriaLogIn>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<h2>Auditoría</h2>
@*
    @using (Html.BeginForm("Index", "Auditoria", FormMethod.Get))
    {
        <table class="table table-bordered">
            <tr>
                <th>
                    Usuario
                </th>
                <th>
                    Recurso
                </th>
                <th>
                    Acción
                </th>
                <th>
                    Fecha Desde
                </th>
                <th>
                    Fecha Hasta
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DropDownList("ddUserName", null, "", new { @onchange = "this.form.submit();" })
                </td>
                <td>
                    @Html.DropDownList("ddResourceName", null, "", new { @onchange = "this.form.submit();" })
                </td>
                <td>
                    @Html.DropDownList("ddActionName", null, "", new { @onchange = "this.form.submit();" })
                </td>
                <td>
                    <input type="date" name="fechaDesde" />
                </td>
                <td>
                    <input type="date" name="fechaHasta" />
                </td>
                <td>
                    <input type="submit" value="Filtrar" class="btn btn-default" />
                </td>
            </tr>
        </table>
    }
*@
<table class="table table-bordered">
    <tr>
        <th>
            Usuario
        </th>
        <th>
            Acción
        </th>
        <th>
            Dia y Hora
        </th>
        <th>
            Ip
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
        </tr>
    }

</table>