@model IEnumerable<SisParkTD.Models.MovimientoDeVehiculo>
@using PagedList
@using PagedList.Mvc


@{
    ViewBag.Title = "Movimientos De Vehiculo";
    var pagedList = (IPagedList)Model;
}

<h2>Movimientos De Vehiculo</h2>

@using (Html.BeginForm("Index", "MovimientosDeVehiculo", FormMethod.Get))
{
    <table class="table table-bordered">
        <tr>
            <th>Patente</th>
            <th>Tipo Movimiento</th>
            <th>Fecha Desde</th>
            <th>Fecha Hasta</th>
        </tr>
        <tr>
            <td>
                @Html.DropDownList("ddPatente", null, "", new { @onchange = "this.form.submit();" })
            </td>
            <td>
                @Html.DropDownList("ddTipoMovimiento", null, "", new { @onchange = "this.form.submit();" })
            </td>
            <td>
                <input type="date" name="fechaDesde" />
            </td>
            <td>
                <input type="date" name="fechaHasta" />
            </td>
            <td>
                <input type="submit" value="Filtrar" class="btn btn-default" />
            </td>
        </tr>
    </table>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ticket.Vehiculo.Patente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeMovimientoDeVehiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.Vehiculo.Patente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeMovimientoDeVehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
        </tr>
    }

</table>
Página @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) de @pagedList.PageCount

@Html.PagedListPager(pagedList, page => Url.Action("Index", new { page , ddPatente = ViewBag.Patente, ddTipoMovimiento = ViewBag.TipoMovimiento, ddFechaDesde = ViewBag.fechaDesde,ddFechaHasta = ViewBag.FechaHasta}))